* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  margin: 20px;
}

header h1 {
  font-weight: 700;
  font-size: 50px;
}

.body {
  display: flex;
  justify-content: space-between;
}

.score-section {
  width: 40%;
}

.refresh {
  display: flex;
  margin: 15px 0;
}

.refresh p {
  font-size: 20px;
  font-weight: 900;
  margin-right: 10px;
}

.btn {
  width: max-content;
  height: 20px;
}

.score-container {
  border-radius: 3px;
  border: 1.5px solid black;
  list-style: none;
}

li:nth-child(odd) {
  background-color: gray;
}

#input {
  margin-bottom: 10px;
}

.add-score {
  width: 40%;
}

.flex {
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
}
.add-score p {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
